In [8]:
!pip install chardet

WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x00000206534BCC70>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/chardet/
WARNING: Retrying (Retry(total=3, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x00000206534BCFA0>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/chardet/
WARNING: Retrying (Retry(total=2, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x00000206534BD2D0>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/chardet/
WARNING: Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x00000206534BD480>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/chardet/
WARNING: Retrying (Retry(total=0, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x00000206534BD630>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/chardet/
ERROR: Could not find a version that satisfies the requirement chardet (from versions: none)
ERROR: No matching distribution found for chardet
WARNING: There was an error checking the latest version of pip.

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import chardet

ModuleNotFoundError: No module named 'chardet'

In [4]:
with open("2018-QS-World-University-Rankings.csv", 'rb') as f:
    res = chardet.detect(f.read(100000))
res

FileNotFoundError: [Errno 2] No such file or directory: '2018-QS-World-University-Rankings.csv'

In [ ]:
df_2018 = pd.read_csv("2018-QS-World-University-Rankings.csv", encoding = 'unicode_escape', header = [0,1])
df_2019 = pd.read_csv("2019-QS-World-University-Rankings.csv", encoding = 'unicode_escape', header = [0,1])
df_2020 = pd.read_csv("2020-QS-World-University-Rankings.csv", encoding = 'unicode_escape', header = [0,1])

In [ ]:
df_2018.head()

In [ ]:
df_2019.head()

In [ ]:
df_2020.head()

# Aligning the column

In [ ]:
for d in [df_2018, df_2019, df_2020]:
    cols = []
    for column in d:
        if column[0].startswith('Unnamed'):
            cols.append(column[1])
        elif column[1].startswith('Unnamed'):
            cols.append(column[0])
        else:
            cols.append(column[0]+'_'+column[1])
    d.columns = cols

In [ ]:
df_2018.head()

In [ ]:
df_2019.head()

In [ ]:
df_2020.head()

In [ ]:
df_2020.isna().sum()

# Dropping Rank columns

In [ ]:
df_2020 = df_2020.drop(['RANK'], axis = 1)

In [ ]:
df_2018 = df_2018.drop(['RANK'], axis = 1)

In [ ]:
df_2019 = df_2019.drop(['RANK'], axis = 1)

# Cleaning

In [ ]:
cleaned = df_2020.copy()

In [ ]:
cleaned = cleaned[~cleaned['Rank in 2020'].isna()] # remove the institutions without rank in 2020

In [ ]:
cleaned = cleaned[~cleaned['Rank in 2019'].isna()] # remove the institutions without rank in 2020

In [ ]:
cleaned.isna().sum()

In [ ]:
cleaned.isna().sum()

In [ ]:
for c in cleaned.columns:
    if c != 'AGE':
        print('-------')
        print(f'unique{c}')
        print(np.unique(cleaned[c].astype('str')))
    else:
        continue

In [ ]:
cleaned_na = cleaned.dropna()

In [ ]:
cleaned_na.replace('-', np.nan).isna().sum()

In [ ]:
cleaned_na = cleaned_na.replace('-', np.nan).dropna() # some values represented null value with -

In [ ]:
cleaned_na.isna().sum()

In [ ]:
for c in cleaned.columns:
    if c != 'AGE':
        print('-------')
        print(f'unique{c}')
        print(np.unique(cleaned_na[c].astype('str')))
    else:
        continue

In [ ]:
cleaned_na[cleaned_na['Rank in 2019'] == '551-560']

In [ ]:
cleaned_na['Rank in 2020'] = cleaned_na['Rank in 2020'].str.strip().str.replace('=','')
cleaned_na['Rank in 2019'] = cleaned_na['Rank in 2019'].str.strip().str.replace('=','') # remove = in columns with = alongside rank value

In [ ]:
cleaned_na

In [ ]:
cleaned_na.tail(10)

In [ ]:
cleaned_2019 = df_2019.copy()

In [ ]:
cleaned_2019.info()

In [ ]:
cleaned_2019 = cleaned_2019.dropna()

In [ ]:
cleaned_2019.info()

In [ ]:
for c in cleaned_2019.columns:
    if c != 'AGE':
        print('-------')
        print(f'unique{c}')
        print(np.unique(cleaned_2019[c].astype('str')))
    else:
        continue

In [ ]:
cleaned_2019.replace('-', np.nan).isna().sum()

In [ ]:
cleaned_2019 = cleaned_2019.replace('-', np.nan).dropna()

In [ ]:
cleaned_2019[cleaned_2019['2019'] == '351']

In [ ]:
cleaned_2019['2019'] = cleaned_2019['2019'].str.strip().str.replace('=','')
cleaned_2019['2018'] = cleaned_2019['2018'].str.strip().str.replace('=','')

In [ ]:
cleaned_2019.tail(10)

In [ ]:
cleaned_2018 = df_2018.copy()

In [ ]:
cleaned_2018.info()

In [ ]:
cleaned_2018 = cleaned_2018.dropna()

In [ ]:
cleaned_2018.info()

In [ ]:
for c in cleaned_2018.columns:
    if c != 'AGE':
        print('-------')
        print(f'unique{c}')
        print(np.unique(cleaned_2018[c].astype('str')))
    else:
        continue

In [ ]:
cleaned_2018.replace('-', np.nan).isna().sum()

In [ ]:
cleaned_2018 = cleaned_2018.replace('-', np.nan).dropna()

In [ ]:
cleaned_2018.info()

In [ ]:
cleaned_2018['2018'] = cleaned_2018['2018'].str.strip().str.replace('=','')
cleaned_2018['2017'] = cleaned_2018['2017'].str.strip().str.replace('=','')

In [ ]:
    cleaned_2018.tail(10)

In [ ]:
cleaned_na['Institution Name'] = cleaned_na['Institution Name'].str.replace(',','')
cleaned_na['Institution Name'] = cleaned_na['Institution Name'].str.replace('.','')
cleaned_na['Institution Name'] = cleaned_na['Institution Name'].str.lower()
cleaned_na['Institution Name']

In [ ]:
cleaned_2019['Institution Name'] = cleaned_2019['Institution Name'].str.replace(',','')
cleaned_2019['Institution Name'] = cleaned_2019['Institution Name'].str.replace('.','')
cleaned_2019['Institution Name'] = cleaned_2019['Institution Name'].str.lower()

In [ ]:
cleaned_2018['Institution Name'] = cleaned_2018['Institution Name'].str.replace(',','')
cleaned_2018['Institution Name'] = cleaned_2018['Institution Name'].str.replace('.','')
cleaned_2018['Institution Name'] = cleaned_2018['Institution Name'].str.lower()

In [ ]:
final = pd.concat([cleaned_na, cleaned_2019, cleaned_2018], axis = 1).dropna()

In [ ]:
final[['Rank in 2020', 'Rank in 2019', '2019', '2018', '2017', 'Institution Name']]

In [ ]:
final.columns

In [ ]:
cleaned_na

In [ ]:
cleaned_2018

In [ ]:
cleaned_2019

In [ ]:
names_2019 = list(cleaned_2019['Institution Name'])
names_2018 = list(cleaned_2018['Institution Name'])
names_2020 = list(cleaned_na['Institution Name'])

In [ ]:
for i in range(len(names_2020)):
    names_2020[i] = names_2020[i].lower()
for i in range(len(names_2019)):
    names_2019[i] = names_2019[i].lower()

In [ ]:
names_2020

In [ ]:
a = []
for i, name in enumerate(names_2020):
    if name not in names_2019:
        a.append(name)
print(len(a))
print(len(names_2020))

In [ ]:
b = []
for name in names_2019:
    if name not in names_2020:
        b.append(name)
print(len(b))
print(len(names_2019))

In [ ]:
c = []
for i, name in enumerate(names_2018):
    if name not in names_2019:
        c.append(name)
print(len(c))
print(len(names_2018))

In [2]:
df_2019.dropna()[df_2019.dropna()['2019'] == '351'].replace('-', np.nan).info()

NameError: name 'df_2019' is not defined

In [ ]:
cleaned_na.to_csv('df2020.csv', index = False)
cleaned_2019.to_csv('df2019.csv', index = False)
cleaned_2018.to_csv('df2018.csv', index = False)